/* Type */
body {
    font-family: Arial, sans-serif; /* Changes the font styles */ 
    max-width: 800px;
    padding: 1em;
}
h1 {
    font-size: 160%;
}

/* ID */
#copyright {
    font-size: 75%;
    text-align: center;
    background-color: orange;
}

/* Class */
.base_color {
    color: rgb(0, 128, 21);
}